body { 
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  margin: 0px;
  padding: 0px;

}

.img-background {
  background: #dcdcdc url("fotos/logo-half-2.png") no-repeat;
  height: 100vh;
  object-fit: cover;
}

/*para celular*/

@media (max-width:780px) {

.container-login{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

img { 

  align-items: center;
  height: 25%;
  width:80%;

}

.titulo{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;

}

.form{

  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
 
}

.primary-button {
  background-color: #fdef4e;
  padding: 6px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 240px;
  height: 37px;
  margin-bottom: 10px;
  
}
.primary-button:focus {
  outline: none;
  border-bottom: 2px solid #4e8579;
}

a{

  color:#fdef4e;
}

.input {

  border: solid 1px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  width: 220px;
  border:none;
  
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #69a79a;
  border-radius: 25px;

}

.erro {
  color: red;
  text-align: center;
}

}