body { 

  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  margin: 0px;
  padding: 0px;

}

.container-login {

  align-items: center;
  display: flex;
  flex-direction: column;
  
}

img { 

  align-items: center;
  height: 25%;
  max-width: 200px;
  width:80%;
  /* margin-top: 90px; */
}

.titulo {

  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 90px;

}

.form {

  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
 
}

.primary-button {

  background-color: #fdef4e;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  height: 37px;
  margin-bottom: 10px;
  padding: 6px;
  width: 240px;
  
}

.primary-button:focus {

  border-bottom: 2px solid #4e8579;
  outline: none;

}

a {

  color:#fdef4e;

}

.input {

  border:none;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  width: 220px;
  
}

.input:focus {

  border-bottom: 2px solid #69a79a;
  border-radius: 25px;
  outline: none;

}

.erro {

  color: red;
  text-align: center;

}

@media screen and (min-width: 800px){
  .input {
  width: 320px;
}

.primary-button{
width: 340px;
}
}

