body { 

  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  margin: 0px;
  padding: 0px;

}

.img-background {

  background: #dcdcdc url("fotos/logo-half-2.png") no-repeat;
  background-position: bottom;
  background-position: right;
  background-position-y: 150px;
  height: 100vh;
  width: 100vw;

}

.container-login {

  align-items: center;
  display: flex;
  flex-direction: column;
  
}

img { 

  align-items: center;
  height: 25%;
  max-width: 200px;
  width:80%;

}

.titulo {

  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 60px;

}

.form {

  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
 
}

.primary-button {

  background-color: #fdef4e;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  height: 37px;
  margin-bottom: 10px;
  padding: 6px;
  width: 240px;
  
}

.primary-button:focus {

  border-bottom: 2px solid #4e8579;
  outline: none;

}

a {

  color:#fdef4e;

}

.input {

  border: solid 1px;
  border:none;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
  width: 220px;
  
}

.input:focus {

  border-bottom: 2px solid #69a79a;
  border-radius: 25px;
  outline: none;

}

.erro {

  color: red;
  text-align: center;

}

